{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  <div class="container wrapper wrapper-1080">
    {{> site-hero wide_img=true}}

    <div class="row">
      <div class="col-xs-12 col-lg-8{{#unless access}} col-lg-offset-2{{/unless}}">
        <article class="{{post_class}} content-wrap post-access-{{visibility}} post-with-sidebar">
          {{#if access}}
            {{> social-share}}
          {{/if}}
          <div class="content">
            {{#if custom_excerpt}}
              <p class="context-excerpt text-lg">
                {{custom_excerpt}}
              </p>
            {{/if}}

            {{#if access}}
              {{content}}
            {{else}}
              {{> content-cta fading=true}}
            {{/if}}
          </div>
        </article>

        {{!-- Authors --}}
        {{#if access}}
          <div class="content-wrap">
            <div class="post-authors p flex flex-wrap bg-default">
              <div class="section__title text-acc-3 m-b-sm">{{t "Published by"}}</div>
              <span class="special-delimiter"></span>
              {{#has author="count:<2"}}
                {{#primary_author}}
                  {{> author-card type="post"}}
                {{/primary_author}}
              {{/has}}
              {{#has author="count:>1"}}
                {{#foreach authors}}
                  {{> author-card type="post-mini" mini=true}}
                {{/foreach}}
              {{/has}}
            </div>
          </div>
        {{/if}}

        {{!-- Include Comments --}}
        {{#if access}}
          <div class="content-wrap">
            {{> comments}}
          </div>
        {{/if}}
      </div>
      {{#if access}}
        <div class="col-xs-12 col-lg-4">
          {{> sidebar}}
        </div>
      {{/if}}
    </div>
  </div>

  {{!-- Related posts --}}
  <div class="container wrapper">
    {{> related-posts}}
  </div>
{{/post}}
