{{!< default}}

{{!-- The main content area on the page --}}
{{#post}}
  <div class="container wrapper">
    {{> site-hero}}
    
    <article class="{{post_class}} content-wrap">
      <div class="content">
        <h4>{{t "Drop us a line:"}}</h4>
        <div class="contact-wrap m-b-lg">
          <form action="https://formspree.io/f/xyylgzdd" id="contact-form" class="contact-form clearfix" method="post">
            <input type="text" name="username" id="username" title="{{t "Name"}}" placeholder="{{t "Name"}}" required>
            <input type="text" name="email" id="email" title="{{t "Email"}}" class="email" placeholder="{{t "Email"}}" required>
            <textarea rows="5" name="message" id="message" title="{{t "Message"}}" placeholder="{{t "Message"}}" required></textarea>
            <input type="text" name="_gotcha" style="display:none">
            <input class="btn btn--brand" type="submit" name="submit" title="{{t "Send"}}" id="submit" value="{{t "Send"}}">
          </form>
        </div>
      </div>
    </article>
  </div>
{{/post}}

<style>
  .contact-wrap input:not(.btn),
  .contact-wrap textarea {
    background-color: var(--color-bg);
  }

  .contact-wrap input.btn {
    width: auto;
  }
</style>